button {
  font-size: 14px;
  max-width: 100%;
  padding: 1.5rem 0.5rem;
  transition: 400ms;
  background: linear-gradient(#e67a7d, #e2676d);
  border: 0;
  font-weight: bold;
}
button:hover {
  /**/
  border: 0;
}
