.config {
  text-align: center;
  canvas {
    max-width: 0;
    max-height: 0;
  }
  .forms {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .field {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      span {
        padding: 0.25rem 0;
        text-align: left;
        font-size: 4vw;
        font-weight: normal;
      }
      input[type="text"] {
        font-size: 4vw;
        padding: 0.25rem;
        color: black;
        font-weight: 600;
        outline: none;
      }
    }
  }
  .carousel {
    position: relative;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
      width: 78vw;
      background-color: #ffffff;
      padding: 1rem;
      border-radius: 2vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      h2 {
        color: #3a2a9f;
        padding-bottom: 1rem;
        padding-top: 0.25rem;
        font-size: 5vw;
      }
      .item-img {
        background-size: cover;
        background-position: 50% 50%;
        margin: 0 auto;
        width: 100%;
        height: 30vh;
        border-radius: 3vh;
      }
    }
    .item-hidden {
      display: none;
    }
    .arrow {
      z-index: 999;
      position: absolute;
      width: 2rem;
      height: 2rem;
      color: white;
    }
    .arrow-left {
      left: -2.5rem;
    }
    .arrow-right {
      right: -2.5rem;
    }
  }
}
